body {
  margin: 0;
  font-family: 'Scope One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Scope One',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Scope One';
  src: url('../public/ScopeOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe Script';
  src: url("../public/segoescript.ttf") format('truetype');
}